In [ ]:
#We write a function that takes two lists as input and outputs the elements
#the have the smallest abs difference

In [13]:
def f(a1,a2):
    #init
    minn = 99999
    minn_holder = []

    for elem1 in a1:
        for elem2 in a2:
            cand_val = abs(elem1 - elem2)
            canv_pair = (elem1, elem2)

            if cand_val < minn:
                minn_holder = [canv_pair]
                minn = cand_val
                
            elif cand_val == minn:
                minn_holder.append(canv_pair)
                minn = cand_val          

    return(minn_holder)

In [14]:
arr1 = [1,5,8,14]
arr2 = [-6,-2,3,19]

In [15]:
f(arr1,arr2)

[(1, 3), (5, 3)]

In [ ]:
#Given an array of strings words and an integer k, return the k most frequent strings.

In [16]:
bigstring = 'davidlundquistborninwoodburyheightsnewjerseywenttocollegeinwashingtondc'

In [29]:
def srtr(inp):
    listt = list(inp)

    d = {}

    for elem in listt:
        if d.get(elem) is None:
            d[elem] = 1
        else:
            val = d.get(elem)
            d.update({elem:val+1})
    return d

In [30]:
srtr(bigstring)

{'d': 5,
 'a': 2,
 'v': 1,
 'i': 6,
 'l': 3,
 'u': 3,
 'n': 8,
 'q': 1,
 's': 4,
 't': 5,
 'b': 2,
 'o': 6,
 'r': 3,
 'w': 4,
 'y': 2,
 'h': 3,
 'e': 7,
 'g': 3,
 'j': 1,
 'c': 2}

In [18]:
d = {'david' : 5}

In [26]:
t = d.get('g')

In [27]:
t

In [23]:
type(d)

dict

In [31]:
# Let us write a python function that takes a string and switches all cases

In [36]:
def f(s):
    holder = []
    for elem in list(s):
        if elem.islower():
            holder.append(elem.upper())
        else:
            holder.append(elem.lower())
    return ''.join(holder)

In [39]:
test1 = 'David is a graduatestudentinIllinois.'

In [40]:
f(test1)

'dAVID IS A GRADUATESTUDENTINiLLINOIS.'

In [45]:
def n_printer(x):
    if x == 1:
        return(x)
    else:
        print(x)
        return(n_printer(x-1))

In [46]:
n_printer(5)

5
4
3
2

1

In [48]:
def f(n):
    if n == 1:
        return 1
    else:
        return(f(n-1) + n)

In [49]:
f(5)

15

In [50]:
def f_string_returner(s):
    return ''' this can go
    multiple lines 
    as we can see '''

In [51]:
f_string_returner('David')

' this can go\n    multiple lines \n    as we can see '

In [52]:
mystring = "Hello I am David"

In [54]:
mystring.startswith("Hello")

True

In [55]:
mystring.split(" ")

['Hello', 'I', 'am', 'David']

In [57]:
"Hello this is %s" % "David"

'Hello this is David'

In [60]:
ord('D')

68

In [61]:
str1 = 'David'

In [62]:
second_string = 'David'

In [64]:
str1 == second_string

True

In [65]:
'David'.istitle()

True

In [101]:
def f(nums1, nums2):
    exp = []
    ctr = 0
    while len(nums1) > 0 and len(nums2) > 0:
        if nums1[0] < nums2[0]:
            exp.append(nums1[0])
            nums1 = nums1[1:]
        else:
            exp.append(nums2[0])
            nums2 = nums2[1:]

    if len(nums2) > 0:
        exp = exp + nums2
    else:
        exp = exp + nums1

    return(exp)

In [102]:
arr = [1,5,9,12,13,13,19,20]
arr2 = [-1,4,12,15,21]

In [104]:
f(arr2, arr)

[-1, 1, 4, 5, 9, 12, 12, 13, 13, 15, 19, 20, 21]

In [118]:
def longestCommonPrefix(strs) -> str:
    if len(strs) == 0:
        return ""
    elif len(strs) == 1:
        return strs[0]
    else:
        store = []
        minn = min([len(x) for x in strs])

        for i in range(minn):
            print(i)
            default = list(strs[0])[i]
            for elem in strs:
                if default != list(elem)[i]:
                    return "".join(store)
                else:
                    pass
            store.append(default)
        return store
        #return strs[0]

In [119]:
test1 = ["flower","flow","flight"]

In [120]:
longestCommonPrefix(test1)

0
1
2

'fl'