In [ ]:
#We write a function that takes two lists as input and outputs the elements
#the have the smallest abs difference

In [13]:
def f(a1,a2):
    #init
    minn = 99999
    minn_holder = []

    for elem1 in a1:
        for elem2 in a2:
            cand_val = abs(elem1 - elem2)
            canv_pair = (elem1, elem2)

            if cand_val < minn:
                minn_holder = [canv_pair]
                minn = cand_val
                
            elif cand_val == minn:
                minn_holder.append(canv_pair)
                minn = cand_val          

    return(minn_holder)

In [14]:
arr1 = [1,5,8,14]
arr2 = [-6,-2,3,19]

In [15]:
f(arr1,arr2)

[(1, 3), (5, 3)]

In [ ]:
#Given an array of strings words and an integer k, return the k most frequent strings.

In [16]:
bigstring = 'davidlundquistborninwoodburyheightsnewjerseywenttocollegeinwashingtondc'

In [29]:
def srtr(inp):
    listt = list(inp)

    d = {}

    for elem in listt:
        if d.get(elem) is None:
            d[elem] = 1
        else:
            val = d.get(elem)
            d.update({elem:val+1})
    return d

In [30]:
srtr(bigstring)

{'d': 5,
 'a': 2,
 'v': 1,
 'i': 6,
 'l': 3,
 'u': 3,
 'n': 8,
 'q': 1,
 's': 4,
 't': 5,
 'b': 2,
 'o': 6,
 'r': 3,
 'w': 4,
 'y': 2,
 'h': 3,
 'e': 7,
 'g': 3,
 'j': 1,
 'c': 2}

In [18]:
d = {'david' : 5}

In [26]:
t = d.get('g')

In [27]:
t

In [23]:
type(d)

dict

In [31]:
# Let us write a python function that takes a string and switches all cases

In [36]:
def f(s):
    holder = []
    for elem in list(s):
        if elem.islower():
            holder.append(elem.upper())
        else:
            holder.append(elem.lower())
    return ''.join(holder)

In [39]:
test1 = 'David is a graduatestudentinIllinois.'

In [40]:
f(test1)

'dAVID IS A GRADUATESTUDENTINiLLINOIS.'

In [45]:
def n_printer(x):
    if x == 1:
        return(x)
    else:
        print(x)
        return(n_printer(x-1))

In [46]:
n_printer(5)

5
4
3
2

1

In [48]:
def f(n):
    if n == 1:
        return 1
    else:
        return(f(n-1) + n)

In [49]:
f(5)

15